@model Ogretmenler

<form method="post">
    @* enctype="multipart/form-data" *@
    <div class="border p-3 mt-5">
        <h2 class="text-primary">Öğretmen Ekleme </h2>
        
    

    <div class="mb-3">
        <label asp-for="Ad" class="p-0">Yeni Öğretmen Ad Ekle:</label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Soyad" class="p-0">Soyad Ekle:</label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
        </div>

    <div class="mb-3">
        <label asp-for="Brans" class="p-0">Brans Ekle:</label>
        <input asp-for="Brans" class="form-control" />
        <span asp-validation-for="Brans" class="text-danger"></span>
    </div>
        <input type="file" id="myFile" size="50">
        <button type="button" onclick="myFunction()" class="btn-success btn border-2">Resmi Kaydet</button>
    </div>
   <input id="demo" asp-for="Resim" style="
display:block" ></input>

@*     <script>
        document.getElementById('myFile').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const fileInfo = `
                  File Name: ${file.name} <br>
                  File Size: ${file.size} bytes <br>
                  File Type: ${file.type} <br>
                  Last Modified: ${file.lastModifiedDate}
                `;
                document.getElementById("demo").value = event.target.files[0].mozFullPath;
            }
        });
    </script> *@

    <button type="submit" class="btn btn-outline-secondary" style="width:250px">Öğretmeni Ekle</button>

    <a asp-controller="Ogretmenler" asp-action="Index" class="btn btn-outline-secondary" type="button" style="width:250px">
       Öğretmenlere Geri Dön
    </a>

    @* </div> *@
</form>


@* 
<h3>Yeni Öğretmen atandı</h3> *@


